.contenedorHome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    
}


.imagesHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imageExample{
    max-width: 700px;
    max-height: auto;
}
.iconoImage{
    max-width: 250px;
    max-height: auto;
}
.textHomePage{
    max-width: 600px;
    max-height: auto;
    align-items: center;
    text-align: justify;
}
h1{
    font-size: 25px;
    font-weight: 800;
}
h2{
    font-size: large;
    font-weight: 500;
}
h3{
    font-size: larger;
}
p,ol{
    font-size: medium;
    font-weight: 300;
}

@media (max-width: 1000px) {
    .contenedorHome{
        flex-direction: column;
        margin: 15px;
        align-items: center;
        
  }
  .imagesHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.textHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.textHomePage{
    text-wrap: balance;
}
}

  @media (min-width: 1000px) {
    .contenedorHome{
        flex-direction:row;       
  }
  .imagesHome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.textHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

}